ARMDemos/API_WADL/Akamai_SureRoute.wadl.xml

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Akamai SureRoute" />
  <resources base="https://nimbusqi.azure-api.net/akamai">
    <resource path="/{file}">
      <doc title="parent folder explorer" />
      <param name="file" style="template" type="xs:string" required="true" />
      <method name="GET">
        <request />
      </method>
    </resource>
    <resource path="/files/{file}">
      <doc title="files folder explorer" />
      <param name="file" style="template" type="xs:string" required="true" />
      <method name="GET">
        <request />
      </method>
    </resource>
  </resources>
</application>