ARMDemos/API_WADL/Coreservices_Admin.wadl.xml

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Coreservices Admin" />
  <resources base="http://nimbusqi.azure-api.net/J4UProgram1/services/internal">
    <resource path="/personalizedcontent">
      <doc title="Personalized Content Service">Retrieves the personalized content for the user</doc>
      <method name="GET">
        <request>
          <param name="storeId" style="query" type="xs:number">
            <doc>preferred store id </doc>
          </param>
        </request>
      </method>
    </resource>
    <resource path="/program/{program}/offer/definitions">
      <doc title="Offer Definitions Retrieval Service">Retrieves the Offer definitions for Offer program</doc>
      <param name="program" style="template" type="xs:string" required="true">
        <doc>Identifies the desired UI program</doc>
        <option value="PD" />
        <option value="CC" />
        <option value="SC" />
        <option value="MF" />
      </param>
      <method name="GET">
        <request>
          <param name="rowIndex" style="query" type="xs:number">
            <doc>Row Index from which the records should be retrieved. If rowIndex is not provided and rowLimit is provided, then all offer definitions from the start upto the rowLimit will be returned.</doc>
          </param>
          <param name="rowLimit" style="query" type="xs:number">
            <doc>Number of records that should be retrieved starting from rowIndex. If rowIndex is  provided and rowLimit is not provided, then all the offers from the rowIndex will be returned.</doc>
          </param>
        </request>
      </method>
    </resource>
    <resource path="/offer/{offerId}/definition">
      <doc title="Offer Definition Retrieval Service">Retrieves the Offer definition for a single Offer Id. This Service is not available for YCS Offers.</doc>
      <param name="offerId" style="template" type="xs:number" required="true">
        <doc>Offer Id for which the Offer definition needs to be retrieved.</doc>
      </param>
      <method name="GET">
        <request />
      </method>
    </resource>
    <resource path="/offer/{offerId}/definition/cacheTs/{cacheTs}">
      <doc title="Cacheable Offer Definition Retrieval Service">Retrieves the Offer definition for a single Offer Id. This Service is not available for YCS Offers.</doc>
      <param name="offerId" style="template" type="xs:number" required="true">
        <doc>Offer Id for which the Offer definition needs to be retrieved.</doc>
      </param>
      <param name="cacheTs" style="template" type="xs:number" required="true">
        <doc>Used for Cacheable URL only. Offer Update Timestamp obtained from Offer allocation or Shopping List Retrieval Service as “offerTs” attribute. This is used to maintain proper caches for Offer Definition URL based on Offer update timestamp.</doc>
      </param>
      <method name="GET">
        <request />
      </method>
    </resource>
    <resource path="/offer/categories">
      <doc title="Category List Retrieval Service">Retrieves the categories for the category drop-down list</doc>
      <method name="GET">
        <request />
      </method>
    </resource>
    <resource path="/repository/customer/exists/household/{householdId}">
      <doc title="Household Validation Service">Validates the existence of a Household based on householdId</doc>
      <param name="householdId" style="template" type="xs:number" required="true">
        <doc>HouseholdId that needs to be validated for existence.</doc>
      </param>
      <method name="GET">
        <request />
      </method>
    </resource>
  </resources>
</application>