ARMDemos/API_WADL/MyCard.wadl.xml

<?xml version="1.0" encoding="utf-8"?>
<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://www.w3.org/Submission/wadl/wadl.xsd" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="MyCard" />
  <resources base="http://nimbusqi.azure-api.net/J4UProgram1/services/mycard">
    <resource path="/offers">
      <doc title="My Card Active Offers List Service">Retrieves offers clipped to my card and still active (not expired).</doc>
      <method name="GET">
        <request>
          <param name="hierarchies" style="query" type="xs:string" default="y">
            <doc>If hierarchies=y, then hierarchy payload that is returned in Hierarchy Service will also be returned along with this Service. But if this query parameter is omitted or if its passed as hierarchies=n, then hierarchy payload won’t be returned.</doc>
            <option value="y" />
          </param>
          <param name="storeId" style="query" type="xs:number">
            <doc>This specified the store id for which offers will be retrived for. If store id is null or not specified it will default to the user primary store id.</doc>
          </param>
        </request>
      </method>
    </resource>
    <resource path="/count">
      <doc title="My Card Count Service">Retrieves the count of items in My Card for the user</doc>
      <method name="GET">
        <request>
          <param name="storeId" style="query" type="xs:number">
            <doc>This specified the store id for which offers will be retrived for. If store id is null or not specified it will default to the user primary store id.</doc>
          </param>
        </request>
      </method>
    </resource>
    <resource path="/redeemedoffers">
      <doc title="My Card Redeemed Offers List Service">Allows J4U users to view a list of redeemed offers for the user in last 60+ days. </doc>
      <method name="GET">
        <request>
          <param name="hierarchies" style="query" type="xs:string" default="n">
            <doc>If hierarchies=y, then hierarchy payload that is returned in Hierarchy Service will also be returned along with this Service. But if this query parameter is omitted or if its passed as hierarchies=n, then hierarchy payload won’t be returned.</doc>
            <option value="y" />
            <option value="n" />
          </param>
        </request>
      </method>
    </resource>
    <resource path="/expiredoffers">
      <doc title="My Card Expired Offers List Service">Retrieves offers clipped to user and now expired</doc>
      <method name="GET">
        <request>
          <param name="hierarchies" style="query" type="xs:string" default="n">
            <doc>If hierarchies=y, then hierarchy payload that is returned in Hierarchy Service will also be returned along with this Service. But if this query parameter is omitted or if its passed as hierarchies=n, then hierarchy payload won’t be returned.</doc>
            <option value="y" />
            <option value="n" />
          </param>
        </request>
      </method>
    </resource>
    <resource path="/savings">
      <doc title="Customer Savings">Retrieves customer’s savings amount for the current year and total savings amount for the lifetime. </doc>
      <method name="GET">
        <request />
      </method>
    </resource>
  </resources>
</application>